@media screen and (max-width: 1000px){
    .sobre{
        flex-direction: column;
        padding: 0 10%;
    }
    .sobre .img{
        width: 200px;
        margin: 60px 0 0 20px;
    }
    .sobre .img img{
        width: 100%;
    }
    .sobre .text{
        max-width: 300px;
        padding: 0 5%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-shadow: 0 0 5px rgb(0, 0, 0);
        backdrop-filter: blur(90px);
    }
    .sobre .text h1{
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .sobre .text p{
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
    }
}

/* ################################################################################ */

@media screen and (max-width: 630px){
    .sobre .text{
        width: 600px;
        padding: 0 5%;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        box-shadow: 0 0 5px rgb(255, 255, 255);
        backdrop-filter: blur(90px);
        margin: -25% 0 0 0;
    }
}

/* #################################################################### */

@media screen and (max-width: 500px){
    .top{
        position: fixed;
        background-attachment: fixed;
        width: 100%;
        padding: 10px 5%;
        background: rgba(26, 26, 26, 0.788);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100000;
        transition: 0.5s;
    }
    .top.sticky{
        padding: 2px 3%;
    }
    .top .log{
        width: 20px;
        height: 20px;
        /* border-radius: 50%; */
    }
    .top .log img{
        width: 100%;
    }
    .top .itens-center .nav-itens .conten-itens{
        display: flex;
        align-items: center;
        list-style: none;
    }
    .top .itens-center .nav-itens .conten-itens .itens{
        margin-left: 10px;
    }
    .top .itens-center .nav-itens .conten-itens .itens a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 400;
        transition: 0.2s;
    }
    .top .itens-center .nav-itens .conten-itens .itens a:hover{
        color: rgb(221, 221, 221);
    }


    .servicos{
        position: relative;
        background-color: linear-gradient(-90deg, rgb(7, 65, 224), rgb(4, 22, 94));
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        width: 100%;
        height: 230%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .servicos h1{
        position: absolute;
        top: -7%;
        font-size: 40px;
        font-weight: 500;
        color: #ffffff;
    }
    .servicos .servi-cont{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-width: 800px;
    }
    .servicos .servi-cont .title-serv{
        margin: 10% 0 0 0;
    }
    .servicos .servi-cont .title-serv .opt{
        font-size: 20px;
        font-weight: 400;
        color: #000000;
    }
    .servicos .servi-cont .title-serv .opt .pontos::before{
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #000000;
        margin: 7px 0 0 -15px;
    }
    
    .servicos .servi-cont .title-serv .block{
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: rgb(6, 11, 87);
        transform: rotate(46deg);
        margin-top: -30%;
        margin-left: 18%;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5%;
        box-shadow: 5px 5px 20px rgb(6, 12, 87);
    }
    .servicos .servi-cont .title-serv .block p{
        transform: rotate(-46deg);
        margin-top: -4px;
        margin-left: -4px;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
    }
    .roda-pe{
        position: relative;
        width: 100%;
        padding: 1px 2%;
        background-color: black;
        color: rgb(199, 199, 199);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 20%;
        bottom: 0;
    }
    .roda-pe p{
        font-size: 12px;
        font-weight: 200;
    }
}

/* ############################################################################# */

@media screen and (max-width: 1120px){
    .contato .container-contato .contet .cont-img{
        width: 500px;
        height: 548px;
        position: absolute;
        right: 5%;
        bottom: 0;
    }
    .contato .container-contato .contet .cont-img img{
        width: 100%;
    }
}
@media screen and (max-width: 1030px){
    .contato .container-contato .contet .cont-img{
        width: 500px;
        height: 548px;
        position: absolute;
        right: 2%;
        bottom: 0;
    }
    .contato .container-contato .contet .cont-img img{
        width: 100%;
    }
}

@media screen and (max-width: 980px){
    .contato .container-contato .contet{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
    }
    .contato .container-contato .contet .cont-img{
        width: 500px;
        height: 548px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .contato .container-contato .contet .cont-img img{
        width: 100%;
    }
}
@media screen and (max-width: 950px){
    .contato{
        position: relative;
        background-color: linear-gradient(-90deg, rgb(7, 65, 224), rgb(4, 22, 94));
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: -10;
    }
    .contato h1{
        padding: 5% 0 0 0;
        font-size: 40px;
        font-weight: 500;
        color: #ffffff;
    }
    .contato .container-contato{
        margin-top: 80px;
    }
    .contato .container-contato .contet{
        flex-direction: column;
    }
    .contato .container-contato .contet .cont-img{
        width: 340px;
        position: relative;
        left: 0;
        margin-top: 15%;
        bottom: 0;
    }
    .contato .container-contato .contet .cont-img img{
        width: 100%;
    }
    .contato .container-contato{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contato .container-contato .contet .cont-contat{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contato .container-contato .contet .cont-contat input{
        margin: 2% 0;
        outline: none;
        width: 100%;
        height: 40px;
        padding-left: 10px;
        border-radius: 30px;
        border-style: none;
    }
    .contato .container-contato .contet .cont-contat button{
        width: 150px;
        height: 50px;
        margin: 10px 0 0 0;
        background-color: rgb(4, 22, 94);
        border-radius: 30px;
        border-style: none;
        font-size: 16px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: 0.3s;
    }
    .contato .container-contato .contet .cont-contat .icons-red{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }
    .contato .container-contato .contet .cont-contat .icons-red a{
        width: 20px;
        height: 20px;
        margin: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contato .container-contato .contet .cont-contat .icons-red img{
        width: 100%;
    }
    .contato .container-contato .contet .cont-contat .icons-red .gmail-link{
        width: 30px;
        height: 30px;
        margin: 0 40px 0 40px;
    }
    .contato .container-contato .contet .cont-contat .icons-red .gmail-link .gmail{
        width: 100%;
    }
    .contato .container-contato .contet .cont-contat button:hover{
        background-color: rgb(22, 51, 168);
    }
}