/* ############################################################################################## */

.top{
    position: fixed;
    width: 100%;
    padding: 10px 5%;
    background: rgba(26, 26, 26, 0.788);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100000;
    transition: 0.5s;
}
.top.sticky{
    padding: 2px 3%;
}
.top .log{
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
}
.top .log img{
    width: 100%;
}
.top .itens-center .nav-itens .conten-itens{
    display: flex;
    align-items: center;
    list-style: none;
}
.top .itens-center .nav-itens .conten-itens .itens{
    margin-left: 20px;
}
.top .itens-center .nav-itens .conten-itens .itens a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 400;
    transition: 0.2s;
}
.top .itens-center .nav-itens .conten-itens .itens a:hover{
    color: rgb(221, 221, 221);
}

/* ############################################################################################# */

.inicio{
    position: relative;
    /* background-image: url('../img/bitmap.png'); */
    background: linear-gradient(-90deg, rgb(7, 65, 224), rgb(4, 22, 94));
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.inicio::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(27, 6, 119, 0.7));
    clip-path: circle(20% at 100% 100%);
}
.inicio::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 26, 255, 0.7), rgba(234, 0, 255, 0.7));
    clip-path: circle(35% at 0% 100%);
}
.inicio .title{
    position: relative;
}

.inicio .title h1{
    font-size: 80px;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
}
.inicio .title .typed{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
}

/* ################################################################### */

.sobre{
    position: relative;
    background: linear-gradient(-90deg, rgb(7, 65, 224), rgb(4, 22, 94));
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(27, 6, 119, 0.7), rgba(255, 255, 255, 0.8));
    clip-path: circle(20% at 100% 0%);
}
.sobre::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(234, 0, 255, 0.7), rgba(0, 26, 255, 0.7));
    clip-path: circle(35% at 0% 0%);
}
.sobre .img{
    width: 300px;
    height: 434px;
    margin: 60px 0 0 20px;
}
.sobre .img img{
    width: 100%;
}
.sobre .text{
    max-width: 600px;
    padding: 20px 5%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    backdrop-filter: blur(90px);
    margin: 60px 0 0 20px;
}
.sobre .text h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.sobre .text p{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

/* ############################################################################ */

.portifolio{
    position: relative;
    background: linear-gradient(-90deg, rgb(7, 65, 224), rgb(4, 22, 94));
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portifolio h1{
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}
.portifolio::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(27, 6, 119, 0.8), rgba(11, 173, 236, 0.8));
    clip-path: circle(30% at 0% 50%);
    z-index: 1;
}
.portifolio::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(234, 0, 255, 0.8), rgba(0, 26, 255, 0.8));
    clip-path: circle(30% at 100% 50%);
    z-index: 1;
}

/* ################################################################################## */

.servicos{
    position: relative;
    background-color: linear-gradient(-90deg, rgb(7, 65, 224), rgb(4, 22, 94));
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}
.servicos h1{
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}
.servicos .servi-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}
.servicos .servi-cont .title-serv{
    padding: 5px 20px;
    width: 300px;
    height: 400px;
    margin: 0 5px 0 0;
    border-radius: 2%;
    background: linear-gradient(0deg, rgb(48, 115, 238), rgb(11, 185, 40));
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.699);
}
.servicos .servi-cont .title-serv .opt{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.servicos .servi-cont .title-serv .opt .pontos::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #000000;
    margin: 7px 0 0 -15px;
}
.servicos .servi-cont .title-serv .block{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(6, 12, 87);
    transform: rotate(46deg);
    margin-top: -60%;
    margin-left: 20%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 5px 5px 20px rgb(6, 12, 87);
}
.servicos .servi-cont .title-serv .block p{
    transform: rotate(-46deg);
    margin-top: -4px;
    margin-left: -4px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

/* ################################################################################## */

.contato{
    position: relative;
    background-color: linear-gradient(-90deg, rgb(7, 65, 224), rgb(4, 22, 94));
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -10;
}
.contato h1{
    padding: 5% 0 0 0;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}
.contato .cont-img{
    width: 500px;
    height: 548px;
    position: absolute;
    right: 10%;
    bottom: 0;
}
.contato .cont-img img{
    width: 100%;
}
.contato .container-contato{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato .container-contato .cont-contat{
    margin: 0 10% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -30%;
}
.contato .container-contato .cont-contat input{
    margin: 2% 0;
    outline: none;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border-radius: 30px;
    border-style: none;
}
.contato .container-contato .cont-contat button{
    width: 150px;
    height: 50px;
    margin: 10px 0 0 0;
    background-color: rgb(4, 22, 94);
    border-radius: 30px;
    border-style: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
}
.contato .container-contato .cont-contat .icons-red{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 0;
}
.contato .container-contato .cont-contat .icons-red a{
    width: 40px;
    height: 40px;
    margin: 0 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato .container-contato .cont-contat .icons-red img{
    width: 100%;
}
.contato .container-contato .cont-contat .icons-red .gmail-link{
    width: 50px;
    height: 30px;
    margin: 0 40px 0 40px;
}
.contato .container-contato .cont-contat .icons-red .gmail-link .gmail{
    width: 100%;
}
.contato .container-contato .cont-contat button:hover{
    background-color: rgb(22, 51, 168);
}

/* ############################################################################################### */

.roda-pe{
    width: 100%;
    padding: 1px 2%;
    background-color: black;
    color: rgb(199, 199, 199);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roda-pe p{
    font-size: 12px;
    font-weight: 200;
}