.portifolio .wrapper{
    width: 100%;
    z-index: 2;
  }
.portifolio .carousel{
    max-width: 1900px;
    margin: auto;
    padding: 0 30px;
  }
.portifolio .carousel .itens-card{
    border-radius: 20px;
    margin: 50px 0;
    line-height: 280px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  }
.portifolio .owl-dots{
    text-align: center;
    margin-top: 10px;
  }
.portifolio .owl-dot{
    height: 20px;
    width: 20px;
    margin: 0 5px;
    outline: none;
    border-radius: 50%;
    border: 1px solid #03aad4!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
.portifolio .owl-dot.active,
.portifolio .owl-dot:hover{
    background: #03aad4!important;
    height: 20px;
    width: 40px;
    border-radius: 24px;
  }
  