.servicos .custom-shape-divider-bottom-1619644727 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2000;
}

.servicos .custom-shape-divider-bottom-1619644727 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.servicos .custom-shape-divider-bottom-1619644727 .shape-fill {
    fill: #FFFFFF;
}

.contato .custom-shape-divider-top-1619644964 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2000;
}

.contato .custom-shape-divider-top-1619644964 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.contato .custom-shape-divider-top-1619644964 .shape-fill {
    fill: #FFFFFF;
}